{% extends 'restaurant/base_other.html' %}

{% block content %}
      <!-- Menu Start -->
      <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
                <h1 class="mb-5">{{ name_page|default:"Most Popular Items" }}</h1>
                        </div>

            <!-- Tab Navigation -->
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 {% if category == 'drinks' %}active{% endif %}" href="{% url 'menu' 'drinks' %}">
    <i class="fa fa-coffee fa-2x text-primary"></i>
    <div class="ps-3">
        <small class="text-body">Refreshing</small>
        <h6 class="mt-n1 mb-0">Drinks</h6>
    </div>
</a>

                    </li>
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 pb-3 {% if category == 'meals' %}active{% endif %}" href="{% url 'menu'  'meals' %}" >
                            <i class="fa fa-hamburger fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Hearty</small>
                                <h6 class="mt-n1 mb-0">Meals</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 pb-3 {% if category == 'sandwiches' %}active{% endif %}" href="{% url 'menu'  'sandwiches' %}">
                            <i class="fa fa-bread-slice fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Tasty</small>
                                <h6 class="mt-n1 mb-0">Sandwiches</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 pb-3 {% if category == 'grills' %}active{% endif %}" href="{% url 'menu'  'grills' %}" >
                            <i class="fa fa-fire fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Grilled</small>
                                <h6 class="mt-n1 mb-0">Grills</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 pb-3 {% if category == 'sweets' %}active{% endif %}" href="{% url 'menu'  'sweets' %}" >
                            <i class="fa fa-ice-cream fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Sweet</small>
                                <h6 class="mt-n1 mb-0">Sweets</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        {% comment %} <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" href="#" hx-get="{% url 'menu' 'salads' %}" hx-target="#menu-content"> {% endcomment %}
                        <a class="d-flex align-items-center text-start mx-3 me-0 pb-3 {% if category == 'salads' %}active{% endif %}" href="{% url 'menu'  'salads' %}">

                            <i class="fa fa-leaf fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Healthy</small>
                                <h6 class="mt-n1 mb-0">Salads</h6>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

           <!-- menu_content.html -->


{% comment %} 
<div id="menu-content">
    {% for item in items %}
        <div class="col-lg-6">
            <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="{{ item.image.url }}" alt="" style="width: 80px;">
                <div class="w-100 d-flex flex-column text-start ps-4">
                    <h5 class="d-flex justify-content-between border-bottom pb-2">
                        <span>{{ item.name }}</span>
                        <span class="text-primary">${{ item.price }}</span>
                    </h5>
                    <small class="fst-italic">{{ item.description }}</small>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
        </div>
    </div>
    <!-- Menu End -->


         {% endcomment %}



         <div id="menu-content" class="row g-4">
            <!-- Left Column (First Half of Items) -->
            <div class="col-lg-6">
                {% for item in first_half %}
                <div class="d-flex align-items-center mb-4">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ item.image.url }}" alt="{{ item.name }}" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>{{ item.name }}</span>
                            <span class="text-primary">${{ item.price }}</span>
                        </h5>
                        <small class="fst-italic">{{ item.description }}</small>
                    </div>
                </div>
                {% endfor %}
            </div>
        
            <!-- Right Column (Second Half of Items) -->
            <div class="col-lg-6">
                {% for item in second_half %}
                <div class="d-flex align-items-center mb-4">
                    <img class="flex-shrink-0 img-fluid rounded" src="{{ item.image.url }}" alt="{{ item.name }}" style="width: 80px;">
                    <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                            <span>{{ item.name }}</span>
                            <span class="text-primary">${{ item.price }}</span>
                        </h5>
                        <small class="fst-italic">{{ item.description }}</small>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>





{% endblock %}
