{% extends 'restaurant/base_other.html' %}
{% load static %}

{% block content %}

        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="section-title ff-secondary text-center text-primary fw-normal">Our Services</h5>
                    <h1 class="mb-5">Explore Our Services</h1>
                </div>

                <!-- Row Wrapper -->
                <div class="row g-4">
                    {% for service in services %}
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="{{ service.text_icon }}"></i>
                                <h5>{{ service.name }}</h5>
                                <p>{{ service.description }}</p>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:4 and not forloop.last %}<p></p>
                    </div><div class="row g-4"> <!-- Close the current row and start a new one -->
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- End Row Wrapper -->
            </div>
        </div>
        <!-- Service End -->

{% endblock content %}
