<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- Waypoints -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

<!-- Team Start -->
<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
            <h1 class="mb-5">Our Master Chefs</h1>
        </div>
        <!-- Owl Carousel Container -->
        <div class="owl-carousel chef-carousel wow fadeInUp" data-wow-delay="0.1s">
            {% for chef in chefs %}
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="{{ chef.image.url }}" alt="{{ chef.name }}">
                    </div>
                    <h5 class="mb-0">{{ chef.name }}</h5>
                    <small>{{ chef.description }}</small>
                    <div class="d-flex justify-content-center mt-3">
                        <a class="btn btn-square btn-primary mx-1" href="{{ chef.facebook }}"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->

<!-- Initialize Owl Carousel for Chefs -->
<script>
    $(document).ready(function(){
        $(".chef-carousel").owlCarousel({
            items: 4,  // Number of items to display at a time
            loop: true,  // Infinite loop
            autoplay: true,  // Autoplay
            autoplayTimeout: 2000,  // Autoplay interval in milliseconds (2 seconds)
            autoplayHoverPause: true,  // Pause on hover
            nav: true,  // Show navigation arrows
            dots: false,  // Hide pagination dots
            responsive: {
                0: {
                    items: 1  // Display 1 item on small screens
                },
                600: {
                    items: 2  // Display 2 items on medium screens
                },
                1000: {
                    items: 4  // Display 4 items on large screens
                }
            }
        });
    });
</script>